<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>AD_UNIT_ID_FOR_BANNER_TEST</key>
        <string>ca-app-pub-3940256099942544/2934735716</string>
        <key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
        <string>ca-app-pub-3940256099942544/4411468910</string>
        <key>CLIENT_ID</key>
        <string>667132302288-psln02ovd4257fo09fo2qqa1tidiku8o.apps.googleusercontent.com</string>
        <key>REVERSED_CLIENT_ID</key>
        <string>com.googleusercontent.apps.667132302288-psln02ovd4257fo09fo2qqa1tidiku8o</string>
        <key>API_KEY</key>
        <string>AIzaSyD6AZaXb6rY_bHUqnQrqo0szKo8dbLzE7s</string>
        <key>GCM_SENDER_ID</key>
        <string>667132302288</string>
        <key>PLIST_VERSION</key>
        <string>1</string>
        <key>BUNDLE_ID</key>
        <string>com.sony.imagingedge.firebase.crashlystic.FirebaseCrashlyticsSampleForIOS</string>
        <key>PROJECT_ID</key>
        <string>iem-ios-debug</string>
        <key>STORAGE_BUCKET</key>
        <string>iem-ios-debug.appspot.com</string>
        <key>IS_ADS_ENABLED</key>
        <true></true>
        <key>IS_ANALYTICS_ENABLED</key>
        <false></false>
        <key>IS_APPINVITE_ENABLED</key>
        <false></false>
        <key>IS_GCM_ENABLED</key>
        <true></true>
        <key>IS_SIGNIN_ENABLED</key>
        <true></true>
        <key>GOOGLE_APP_ID</key>
        <string>1:667132302288:ios:56ab6aa227ec67fd</string>
        <key>DATABASE_URL</key>
        <string>https://iem-ios-debug.firebaseio.com</string>
    </dict>
</plist>
